@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.scrollbar-w-thin {
		scrollbar-width: 'thin';
	}
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	scroll-behavior: smooth;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
	font-family: 'Cairo', sans-serif;
}
.slider {
	width: 100%;
	height: 500px;
	position: relative;
}

.slide {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.slide.active {
	opacity: 1;
}
// .max-font-size {
// 	font-size: clamp(1rem, 4vw, 2rem) !important;
// }

@media (min-width: 1200px) {
	.max-font-size {
		font-size: 35px !important;
	}
}
